@font-face {
  font-family: "FuturaPT-Bold";
  src: url("./assets/futura-pt-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT-Medium";
  src: url("./assets/futura-pt-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT-Heavy";
  src: url("./assets/futura-pt-heavy.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT-DemiBold";
  src: url("./assets/futura-pt-demibold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaCondensedPT-Medium";
  src: url("./assets/futura-condensed-pt-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaPT-Book";
  src: url("./assets/futura-pt-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "FuturaPT-Medium", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
